<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="CurrencyExchangeDb"
             connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=CurrencyExchangeDb;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IExchangeService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:50916/ExchangeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeService"
                contract="ExchangeServiceReference.IExchangeService" name="BasicHttpBinding_IExchangeService" />
		</client>
	</system.serviceModel>
</configuration>
